
<router-outlet>
 <h2>Hello world</h2> 
 <p> Haiii</p>
<h2> Welcome {{str}} </h2>
<p>
  sum of {{a}} & {{b}} is{{c}}
</p>
<p> 2+2={{2+2}}</p>

  <h2> Front end Framework: {{data.tech1}}</h2>
  <h2> Front end Framework: {{data.tech2}}</h2>

<input type=text value="{{data.tech1}}"/>
<div>
  <h1 style="color:brown">Welcome</h1>
</div>


<div>
  <input type=text value="{{data.tech1}}" class="form-control">
  <br>
  <input type="button" value="submit" class="btn btn-danger">

</div>

<div>
  <h4>Task:Event handling</h4>
  <h1> you are clicked {{str}}</h1>
  <button (click)="myfunction()" class="btn btn-primary">First Button</button>
  <button (click)="myfunction1()" class="btn btn-danger">Second Button</button>

</div>
<h4>Task: Structural Directives</h4>
<table>
  <thead>
    <th>Name</th>
    <th>Age</th>
  </thead>
  <tbody *ngFor="let item of Employee">
    <tr>
      <td>{{item.Name}}</td>
      <td>{{item.Age}}</td>
      <tr *ngIf="item.Age>32">

  </tbody>
</table>

</router-outlet>
